$dark: #323436;
$secondary-navy: rgba(50, 42, 114, 1); // #322a72;
$tertiary-navy: #1c165f;
$primary-light: #fff;
$secondary-light: #c8bae5;
$purp: rgba(108, 91, 167, 1); //#7654bd;
$purp2: rgba(80, 25, 159, 1); //#50199F
$purp3: #464084;

$pale-background: #f9f7fd;


$flame-one: rgba(215,111,120,1);
/*
rgba(215,111,120,1) /#D76F78
rgba(237,139,135,1)
rgba(255,177,154,1)
rgba(255,198,163,1)
rgba(255,212,168,1)
old chocolte: rgba(165,120,119,1) / #B07877
rgba(50,52,54,1)
rgba(254, 212, 168, 1.0)
*/


$grad-flame: linear-gradient(180deg, rgba(254,212,168,1) 0%, rgba(215,111,120,1) 100%);
//$grad-choc: linear-gradient(180deg, rgba(176, 120, 119, 1.0) -70%, rgba(43, 39, 38, 1) 80%, rgba(34,34,34,1) 100%);
$grad-choc: linear-gradient(180deg, rgb(160, 103, 102) -70%, rgba(43, 39, 38, 1) 80%, rgba(34,34,34,1) 100%);
$but-flame: linear-gradient(70deg, rgba(254,212,168,1) -30%, rgba(215,111,120,1) 150%);



//text

$text-highlight: rgb(255, 255, 0);
$btnColor: rgba(28, 238, 27, 1); //#1cee1b;
// alerts and general palette

$disabled: #8d8d8d;


$light-grey: #DBDBDB;
$dark-grey: #8d8d8d;
$dark-grey-2:#2E2D2D;
//forms
$field-bg: #f5f5f5;
$field-bg-active: #fbfbfb;
$field-border: #ddd;
$field-border-active: #4c00bb;
$placeholder: #aaa;

$error: #ff5100;

$background-primary: #2c06ff; //rgba(44, 6, 255, 1)
$background-secondary: #2c06ff; //rgba(44, 6, 255, 1)










// brand colours
$light-gray: #fafafa;
$green: #21ba45;
$info: #2185d0;
$greenDarker: #19d118;
$alert: rgba(219, 40, 40, 1); //#DB2828

$navGrayTwo: rgba(240, 240, 240, 1); //#f0f0f0;
$navGrayOne: #f1f1f1;
$navGrayThree: #fafafa;
$darkGray: #444;
$grayFieldInfo: #767676;
$ghostGray: #eaeaea; // rgba(234, 234, 234, 1)
$disabledTwo: #cecece;

$brandYellow: rgba(251, 172, 8, 1); //#fbac08;
